{% extends "base/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<!-- Page Content -->
<div class="container">
    
    <div class="row">

        <div class="col-md-12">

            <h1 class="page-header">{{ page.title }}</h1>

            {% if page.get_children.live %}
                <div class="row">
                    {% for offer in page.get_children.live %}

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        {% if offer.specific.image %}
                            {% image offer.specific.image width-400 as imageattrs %}
                            <a href="{{ offer.url }}"><img class="img-responsive img-rounded" src="{{ imageattrs.url }}" alt="{{ imageattrs.alt }}"></a>
                        {% endif %}
                        <p><a href="{{ offer.url }}">{{ offer.title }}</a></p>
                        <hr>
                    </div>

                    {% endfor %}
                </div>
            {% else %}
                <p>En estos momentos no tenemos promociones disponibles.</p>
            {% endif %}

        </div>

    </div>
    
</div>
    <!-- /.row -->
<!-- /.container -->
{% endblock %}