{% extends "base/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <!-- Header Carousel -->
    <header id="offers-carousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for slider_image in page.slider_images.all %}
                <li data-target="#offers-carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for slider_image in page.slider_images.all %}

                {% image slider_image.image height-500 as imageattrs %}

                <div class="item {% if forloop.first %}active{% endif %}">
                    <div class="fill" style="background-image:url('{{ imageattrs.url }}');"></div>
                    <div class="carousel-caption"><h2>{{ slider_image.caption }}</h2></div>
                </div>

            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#offers-carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#offers-carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    {% include 'home/includes/about_page.html' %}

{% endblock %}