footer {
    margin-top: 50px;
	margin-bottom: 0px !important;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
}

footer h5 {
    font-size: 18px;
    font-weight: bold;
}

footer .highlight {
  font-weight: bold;
}

footer .footer-copyright {
	text-align: center;
}

#map-container {
    height: 240px;
    width: 100%;
}
