{% load wagtailcore_tags %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="page-header">Sobre nosotros</h1>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-rounded" src="https://image.jimcdn.com/app/cms/image/transf/dimension=origxorig:format=jpg/path/s799cf6496bde654e/image/ic5e0e67656a2cc88/version/1368120127/image.jpg" alt="">
        </div>
        <div class="col-md-6" style="text-align: justify;">
            {{ page.about|richtext }}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->