{% load static %}
{% load wagtailcore_tags rmazaweb_tags wagtailuserbar %}

<!-- Doctype HTML5 -->
<!doctype html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ self.search_description }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ self.url }}">
    <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}">
    <meta property="og:image" content="">
    <meta property="og:description" content="{{ self.description }}">
    <meta property="og:site_name" content="{{ self.get_site.site_name }}">
    <meta property="og:locale" content="es_ES">

    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'base/favicon.ico' %}">

    <!-- Bootstrap Core CSS & Font Awesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/font-awesome-animation.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/footer.css' %}">

    {% block extra_css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% wagtailuserbar %}

    {% block menu %}
        {% get_site_root as site_root %}
        {% top_menu parent=site_root calling_page=self %}
    {% endblock %}

    {% block content %}{% endblock %}

  	<!-- Footer -->
  	<footer class="container-fluid well footer">
  	  <div class="container">

          <div class="col-md-2 col-xs-12"></div>
          <div class="col-md-3 col-xs-6">
            <h5><i class="fa fa-phone"></i> Teléfonos</h5>
            {{ settings.base.CompanyInfoSettings.company_phones|richtext }}
          </div>
          <div class="col-md-3 col-xs-6">
            <h5><i class="fa fa-clock-o"></i> Horario</h5>
            {{ settings.base.CompanyInfoSettings.company_opening_hours|richtext }}
          </div>
          <div class="col-md-3 col-xs-12">
            <h5><i class="fa fa-legal"></i> Legal</h5>
            <ul>
              <li><a href="#">Términos y Condiciones</a></li>
              <li><a href="#">Política de Privacidad</a></li>
               <li><a href="/sitemap.xml">Sitemap</a></li>
            </ul>
          </div>
          <div class="col-md-1 col-xs-12"></div>
          <div class="col-md-12 footer-copyright">
              <p>{{ settings.base.CompanyInfoSettings.company_name }}, CIF {{ settings.base.CompanyInfoSettings.company_cif }} | Copyright© {% now "Y" %}, Todos los derechos reservados</p>
          </div>

  	  </div>
  	</footer>

    <!-- jQuery -->
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>

    {% block extra_js %}{% endblock %}

</body>
</html>
