{% extends 'base/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
{% endblock %}

{% block content %}

<!-- Modals -->
{% for product in self.products.all %}
  <div class="modal fade" id="{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
          <h4 class="modal-title" id="myModalLabel">{{ product.name }} - {{ product.price }} €</h4>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="well col-md-12">
                {% if product.image %}
                    {% image product.image width-500 class="img-responsive center-block" %}
                {% else %}
                    {% image settings.catalog.CatalogSettings.default_product_image width-500 class="img-responsive center-block" %}
                {% endif %}
              </div>
              <div class="col-md-12">
                <p>{{ product.long_description|richtext }}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<!-- Page Content -->
<div id="app" class="container">
    <h1 class="page-header">Productos</h1>
    <div class="row">
        <div class="col-md-4">
            <input v-model="search" type="text" class="form-control" placeholder="Busca por nombre o referencia" name="filter">
        </div>
    </div>
    <br>
    <div class="row">
    {% if self.products.all %}
        {% for product in self.products.all %}
            <div v-show="'{{ product.reference }}'.toLowerCase().includes(search) || '{{ product.name }}'.toLowerCase().includes(search)" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 product-tile" data-toggle="modal" data-target="#{{ product.id }}">
                {% if product.image %}
                    {% image product.image fill-360x240 class="thumbnail" %}
                {% else %}
                    {% image settings.catalog.CatalogSettings.default_product_image fill-360x240 class="thumbnail" %}
                {% endif %}
                <h3><b>{{ product.name }}</b> <small>Ref: <i>{{ product.reference }}</i></small></h3>
                <h4>{{ product.price }} €</h4>
                <p class="description">{{ product.short_description|richtext }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No existe ningún producto publicado en este momento.</p>
    {% endif %}
    </div>
</div>
<!-- /.container -->
  
{% endblock %}

{% block extra_js %}
<script>
    var app = new Vue({
      delimiters: ["[[", "]]"],
      el: '#app',
      data: {
        search: "{{ request.GET.search }}",
      }
    })
</script>
{% endblock %}
