{% extends 'base/base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Servicios</h1>
      {% if self.services.all %}
        <table class="table  table-responsive table-bordered">
        <tbody>
          {% for service in self.services.all %}
          <tr>
            <td><b>{{ service.name }}</b></td>
            <td>{{ service.price }} {{ service.units }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>En estos momentos no existen servicios publicados.</p>
      {% endif %}
    </div>
  </div>
</div>
<!-- /.container -->
  
{% endblock %}

{% block extra_js %}  
{% endblock %}
